html {
  font-size: 16px;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
}


@media (max-width:1200px) {
  html {
    font-size: 12px;
  }
}