:root {
  --cor-0: #7F6CFF;
  --cor-1: #FFFFFF;
  --cor-2: #0A0B15;
  --cor-3: #EA4202;
  --cor-4: #5C5D68;
  --cor-5: #5E25FF;
  --cor-6: #F5F3F5;
  --cor-7: #C5BCC5
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}

/*cores de background*/

.bg-cor-1 {
  background-color: var(--cor-1);
}

.bg-cor-2 {
  background-color: var(--cor-2);
}