/* ESCOLHAS PADRÕES DOS BOTÕES */

.btn__primary {  /*COM O BG PRETO*/
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  padding: 0.6rem .72rem .6rem 2.23rem;
  gap: 1rem;
  border: none;
  border-radius: 2.25rem;
  cursor: pointer; /*opção de personalizar cursor ?*/
}

/* ÍCONE DE FLECHA PARA CIMA */
.arrow-icon {
border-radius: 2.25rem;
padding: .8rem;
background-color: var(--cor-3);
}

/* PERSONALIZAÇÃO DE ITENS DO MENU NAVBAR */
.menu-item--primary { /*escolha padrão*/
  border: solid 1px var(--cor-7);
  border-radius: 3rem;
  background: none;
}


